In [1]:
# Cell 1: Imports + Load CSVs

# 1) Import libraries we need
import pandas as pd          # for tables/dataframes
import numpy as np           # for numeric operations
import matplotlib.pyplot as plt  # for plotting
import seaborn as sns        # for nicer plots (optional)

# Show more columns when we print dataframes
pd.set_option("display.max_columns", 200)

# 2) Define the path to your data folder
data_path = "../data/raw/"

# 3) Load the four CSV files into dataframes
benef_df   = pd.read_csv(data_path + "Train_Beneficiarydata.csv")
ip_df      = pd.read_csv(data_path + "Train_Inpatientdata.csv")
op_df      = pd.read_csv(data_path + "Train_Outpatientdata.csv")
labels_df  = pd.read_csv(data_path + "Train_Labels.csv")

# 4) Quick basic info: shapes
print("Beneficiary:", benef_df.shape)
print("Inpatient:", ip_df.shape)
print("Outpatient:", op_df.shape)
print("Labels:", labels_df.shape)

Beneficiary: (138556, 25)
Inpatient: (40474, 30)
Outpatient: (517737, 27)
Labels: (5410, 2)

In [2]:
# Cell 2: Peek into the data

dfs = {
    "benef_df": benef_df,
    "ip_df": ip_df,
    "op_df": op_df,
    "labels_df": labels_df
}

for name, df in dfs.items():
    print(f"\n=== {name} ===")
    print("Shape:", df.shape)
    print("First 3 rows:")
    print(df.head(3))        # look at first 3 rows
    print("\nMissing value % (top 10):")
    print(df.isna().mean().sort_values(ascending=False).head(10))

=== benef_df ===
Shape: (138556, 25)
First 3 rows:
      BeneID         DOB  DOD  Gender  Race RenalDiseaseIndicator  State  \
0  BENE11001  1943-01-01  NaN       1     1                     0     39
1  BENE11002  1936-09-01  NaN       2     1                     0     39
2  BENE11003  1936-08-01  NaN       1     1                     0     52

   County  NoOfMonths_PartACov  NoOfMonths_PartBCov  ChronicCond_Alzheimer  \
0     230                   12                   12                      1
1     280                   12                   12                      2
2     590                   12                   12                      1

   ChronicCond_Heartfailure  ChronicCond_KidneyDisease  ChronicCond_Cancer  \
0                         2                          1                   2
1                         2                          2                   2
2                         2                          2                   2

   ChronicCond_ObstrPulmonary  ChronicCond_Depression  ChronicCond_Diabetes  \
0                           2                       1                     1
1                           2                       2                     2
2                           2                       2                     2

   ChronicCond_IschemicHeart  ChronicCond_Osteoporasis  \
0                          1                         2
1                          2                         2
2                          1                         2

   ChronicCond_rheumatoidarthritis  ChronicCond_stroke  \
0                                1                   1
1                                2                   2
2                                2                   2

   IPAnnualReimbursementAmt  IPAnnualDeductibleAmt  OPAnnualReimbursementAmt  \
0                     36000                   3204                        60
1                         0                      0                        30
2                         0                      0                        90

   OPAnnualDeductibleAmt
0                     70
1                     50
2                     40

Missing value % (top 10):
DOD                      0.989744
BeneID                   0.000000
DOB                      0.000000
Gender                   0.000000
Race                     0.000000
RenalDiseaseIndicator    0.000000
State                    0.000000
County                   0.000000
NoOfMonths_PartACov      0.000000
NoOfMonths_PartBCov      0.000000
dtype: float64

=== ip_df ===
Shape: (40474, 30)
First 3 rows:
      BeneID   ClaimID ClaimStartDt  ClaimEndDt  Provider  \
0  BENE11001  CLM46614   2009-04-12  2009-04-18  PRV55912
1  BENE11001  CLM66048   2009-08-31  2009-09-02  PRV55907
2  BENE11001  CLM68358   2009-09-17  2009-09-20  PRV56046

   InscClaimAmtReimbursed AttendingPhysician OperatingPhysician  \
0                   26000          PHY390922                NaN
1                    5000          PHY318495          PHY318495
2                    5000          PHY372395                NaN

  OtherPhysician AdmissionDt ClmAdmitDiagnosisCode  DeductibleAmtPaid  \
0            NaN  2009-04-12                  7866             1068.0
1            NaN  2009-08-31                  6186             1068.0
2      PHY324689  2009-09-17                 29590             1068.0

  DischargeDt DiagnosisGroupCode ClmDiagnosisCode_1 ClmDiagnosisCode_2  \
0  2009-04-18                201               1970               4019
1  2009-09-02                750               6186               2948
2  2009-09-20                883              29623              30390

  ClmDiagnosisCode_3 ClmDiagnosisCode_4 ClmDiagnosisCode_5 ClmDiagnosisCode_6  \
0               5853               7843               2768              71590
1              56400                NaN                NaN                NaN
2              71690              34590              V1581              32723

  ClmDiagnosisCode_7 ClmDiagnosisCode_8 ClmDiagnosisCode_9  \
0               2724              19889               5849
1                NaN                NaN                NaN
2                NaN                NaN                NaN

  ClmDiagnosisCode_10  ClmProcedureCode_1  ClmProcedureCode_2  \
0                 NaN                 NaN                 NaN
1                 NaN              7092.0                 NaN
2                 NaN                 NaN                 NaN

   ClmProcedureCode_3  ClmProcedureCode_4  ClmProcedureCode_5  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN

   ClmProcedureCode_6
0                 NaN
1                 NaN
2                 NaN

Missing value % (top 10):
ClmProcedureCode_6     1.000000
ClmProcedureCode_5     0.999778
ClmProcedureCode_4     0.997134
ClmProcedureCode_3     0.976158
ClmDiagnosisCode_10    0.902975
OtherPhysician         0.884123
ClmProcedureCode_2     0.865247
ClmProcedureCode_1     0.428077
OperatingPhysician     0.411227
ClmDiagnosisCode_9     0.333473
dtype: float64

=== op_df ===
Shape: (517737, 27)
First 3 rows:
      BeneID    ClaimID ClaimStartDt  ClaimEndDt  Provider  \
0  BENE11002  CLM624349   2009-10-11  2009-10-11  PRV56011
1  BENE11003  CLM189947   2009-02-12  2009-02-12  PRV57610
2  BENE11003  CLM438021   2009-06-27  2009-06-27  PRV57595

   InscClaimAmtReimbursed AttendingPhysician OperatingPhysician  \
0                      30          PHY326117                NaN
1                      80          PHY362868                NaN
2                      10          PHY328821                NaN

  OtherPhysician ClmDiagnosisCode_1 ClmDiagnosisCode_2 ClmDiagnosisCode_3  \
0            NaN              78943              V5866              V1272
1            NaN               6115                NaN                NaN
2            NaN               2723                NaN                NaN

  ClmDiagnosisCode_4 ClmDiagnosisCode_5 ClmDiagnosisCode_6 ClmDiagnosisCode_7  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN

  ClmDiagnosisCode_8 ClmDiagnosisCode_9 ClmDiagnosisCode_10  \
0                NaN                NaN                 NaN
1                NaN                NaN                 NaN
2                NaN                NaN                 NaN

   ClmProcedureCode_1  ClmProcedureCode_2  ClmProcedureCode_3  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN

   ClmProcedureCode_4  ClmProcedureCode_5  ClmProcedureCode_6  \
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN

   DeductibleAmtPaid ClmAdmitDiagnosisCode
0                  0                 56409
1                  0                 79380
2                  0                   NaN

Missing value % (top 10):
ClmProcedureCode_5     1.000000
ClmProcedureCode_6     1.000000
ClmProcedureCode_4     0.999996
ClmProcedureCode_3     0.999992
ClmProcedureCode_2     0.999930
ClmProcedureCode_1     0.999687
ClmDiagnosisCode_10    0.997908
ClmDiagnosisCode_9     0.971341
ClmDiagnosisCode_8     0.955746
ClmDiagnosisCode_7     0.936336
dtype: float64

=== labels_df ===
Shape: (5410, 2)
First 3 rows:
   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No

Missing value % (top 10):
Provider          0.0
PotentialFraud    0.0
dtype: float64

In [3]:
# Cell 3: Feature engineering for ip_df

# 1) Convert date columns to datetime
ip_df["AdmissionDt"]  = pd.to_datetime(ip_df["AdmissionDt"])
ip_df["DischargeDt"]  = pd.to_datetime(ip_df["DischargeDt"])
ip_df["ClaimStartDt"] = pd.to_datetime(ip_df["ClaimStartDt"])
ip_df["ClaimEndDt"]   = pd.to_datetime(ip_df["ClaimEndDt"])

# 2) Length of admission (days in hospital)
ip_df["admit_days"] = (ip_df["DischargeDt"] - ip_df["AdmissionDt"]).dt.days + 1

# 3) Claim duration (difference between claim start and end)
ip_df["claim_days"] = (ip_df["ClaimEndDt"] - ip_df["ClaimStartDt"]).dt.days + 1

# 4) Count how many diagnosis codes a claim has (non-null entries)
diag_cols_ip = [c for c in ip_df.columns if c.startswith("ClmDiagnosisCode_")]
ip_df["n_diag_codes"] = ip_df[diag_cols_ip].notna().sum(axis=1)

# 5) Flag: does this claim have an OperatingPhysician filled?
ip_df["has_operating_physician"] = ip_df["OperatingPhysician"].notna().astype(int)

# Check result
ip_df[["Provider", "ClaimID", "admit_days", "claim_days", "n_diag_codes", "has_operating_physician"]].head()

,Provider,ClaimID,admit_days,claim_days,n_diag_codes,has_operating_physician
0,PRV55912,CLM46614,7,7,9,0
1,PRV55907,CLM66048,3,3,3,1
2,PRV56046,CLM68358,4,4,6,0
3,PRV52405,CLM38412,9,9,9,1
4,PRV56614,CLM63689,18,18,9,1

In [ ]:
# Cell 4: Feature engineering for op_df

# 1) Convert claim dates to datetime
op_df["ClaimStartDt"] = pd.to_datetime(op_df["ClaimStartDt"])
op_df["ClaimEndDt"]   = pd.to_datetime(op_df["ClaimEndDt"])

# 2) Claim duration for outpatient
op_df["claim_days"] = (op_df["ClaimEndDt"] - op_df["ClaimStartDt"]).dt.days + 1

# 3) Count diagnosis codes for outpatient claims
diag_cols_op = [c for c in op_df.columns if c.startswith("ClmDiagnosisCode_")]
op_df["n_diag_codes"] = op_df[diag_cols_op].notna().sum(axis=1)

# 4) Operating physician flag for outpatient claims
op_df["has_operating_physician"] = op_df["OperatingPhysician"].notna().astype(int)

# Check result
op_df[["Provider", "ClaimID", "claim_days", "n_diag_codes", "has_operating_physician"]].head()

   Provider    ClaimID  claim_days  n_diag_codes  has_operating_physician
0  PRV56011  CLM624349           1             3                        0
1  PRV57610  CLM189947           1             1                        0
2  PRV57595  CLM438021           1             1                        0
3  PRV56011  CLM121801           1             1                        0
4  PRV56011  CLM150998           1             6                        0

In [5]:
# Cell 5: Aggregate inpatient (ip_df) by Provider

ip_provider = ip_df.groupby("Provider").agg(
    ip_claim_count = ("ClaimID", "nunique"),             # how many distinct inpatient claims
    ip_bene_count  = ("BeneID", "nunique"),              # how many distinct patients
    ip_reimb_sum   = ("InscClaimAmtReimbursed", "sum"),  # total money reimbursed
    ip_reimb_mean  = ("InscClaimAmtReimbursed", "mean"), # average reimbursed per claim
    ip_admit_days_sum = ("admit_days", "sum"),           # total hospital days
    ip_claim_days_sum = ("claim_days", "sum"),           # total claim days
    ip_diag_mean      = ("n_diag_codes", "mean"),        # average number of diagnosis codes
    ip_has_operating_rate = ("has_operating_physician", "mean")  # % claims with operating physician
).reset_index()

ip_provider.head()

,Provider,ip_claim_count,ip_bene_count,ip_reimb_sum,ip_reimb_mean,ip_admit_days_sum,ip_claim_days_sum,ip_diag_mean,ip_has_operating_rate
0,PRV51001,5,5,97000,19400.000000,30,30,7.200000,0.400000
1,PRV51003,62,53,573000,9241.935484,382,382,8.112903,0.645161
2,PRV51007,3,3,19000,6333.333333,19,19,7.333333,0.333333
3,PRV51008,2,2,25000,12500.000000,10,10,7.500000,1.000000
4,PRV51011,1,1,5000,5000.000000,6,6,8.000000,0.000000

In [6]:
# Cell 6: Aggregate outpatient (op_df) by Provider

op_provider = op_df.groupby("Provider").agg(
    op_claim_count = ("ClaimID", "nunique"),
    op_bene_count  = ("BeneID", "nunique"),
    op_reimb_sum   = ("InscClaimAmtReimbursed", "sum"),
    op_reimb_mean  = ("InscClaimAmtReimbursed", "mean"),
    op_claim_days_sum = ("claim_days", "sum"),
    op_diag_mean      = ("n_diag_codes", "mean"),
    op_has_operating_rate = ("has_operating_physician", "mean")
).reset_index()

op_provider.head()

,Provider,op_claim_count,op_bene_count,op_reimb_sum,op_reimb_mean,op_claim_days_sum,op_diag_mean,op_has_operating_rate
0,PRV51001,20,19,7640,382.000000,31,2.200000,0.150000
1,PRV51003,70,66,32670,466.714286,235,2.714286,0.071429
2,PRV51004,149,138,52170,350.134228,362,2.583893,0.181208
3,PRV51005,1165,495,280910,241.124464,2433,2.588841,0.190558
4,PRV51007,69,56,14710,213.188406,122,2.797101,0.159420

In [7]:
# Cell 7: Build base provider_df

# Start from labels: 1 row per Provider with the fraud label
provider_df = labels_df.copy()   # columns: Provider, PotentialFraud

# Add inpatient aggregated features
provider_df = provider_df.merge(ip_provider, on="Provider", how="left")

# Add outpatient aggregated features
provider_df = provider_df.merge(op_provider, on="Provider", how="left")

provider_df.head()

,Provider,PotentialFraud,ip_claim_count,ip_bene_count,ip_reimb_sum,ip_reimb_mean,ip_admit_days_sum,ip_claim_days_sum,ip_diag_mean,ip_has_operating_rate,op_claim_count,op_bene_count,op_reimb_sum,op_reimb_mean,op_claim_days_sum,op_diag_mean,op_has_operating_rate
0,PRV51001,No,5.0,5.0,97000.0,19400.000000,30.0,30.0,7.200000,0.400000,20.0,19.0,7640.0,382.000000,31.0,2.200000,0.150000
1,PRV51003,Yes,62.0,53.0,573000.0,9241.935484,382.0,382.0,8.112903,0.645161,70.0,66.0,32670.0,466.714286,235.0,2.714286,0.071429
2,PRV51004,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.0,138.0,52170.0,350.134228,362.0,2.583893,0.181208
3,PRV51005,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1165.0,495.0,280910.0,241.124464,2433.0,2.588841,0.190558
4,PRV51007,No,3.0,3.0,19000.0,6333.333333,19.0,19.0,7.333333,0.333333,69.0,56.0,14710.0,213.188406,122.0,2.797101,0.159420

In [8]:
# Cell 8: Prepare beneficiary (benef_df) features

# 1) Convert DOB and DOD to datetime
benef_df["DOB"] = pd.to_datetime(benef_df["DOB"])

# DOD might be missing (if the patient didn't die)
benef_df["DOD"] = pd.to_datetime(benef_df["DOD"], errors="coerce")

# 2) Flag: is this patient dead?
benef_df["is_dead"] = benef_df["DOD"].notna().astype(int)

# 3) Approximate age at a reference date (end of data period)
reference_date = pd.Timestamp("2009-12-31")  # adjust if needed
benef_df["age"] = (reference_date - benef_df["DOB"]).dt.days / 365.25

# Check some columns
benef_df[["BeneID", "DOB", "DOD", "age", "is_dead"]].head()

      BeneID        DOB DOD        age  is_dead
0  BENE11001 1943-01-01 NaT  66.997947        0
1  BENE11002 1936-09-01 NaT  73.330595        0
2  BENE11003 1936-08-01 NaT  73.415469        0
3  BENE11004 1922-07-01 NaT  87.501711        0
4  BENE11005 1935-09-01 NaT  74.332649        0